@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
  background-image: url(/img/journey-1130732_1920.jpg);
  background-size: cover;
}
h1,
p,
li {
  color: wheat;
}
.delete,
.edit,
.button-add,
.button-show-hide {
  border-radius: 5px;
  background-color: grey;
  color: aliceblue;
  padding: 1px 7px;
  cursor: pointer;
  font-family: cursive;
}

.delete:hover,
.edit:hover,
.button-add:hover,
.button-show-hide:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box {
  margin: 120px auto;
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  padding: 25px;
  background: rgb(51, 49, 50);
  background: linear-gradient(
    95deg,
    rgba(51, 49, 50, 0.53687412464986) 0%,
    rgba(83, 69, 58, 0.6657256652661064) 98%
  );
  /* opacity: 0.5; */
}

.box:hover {
  opacity: 1;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.users {
  padding-right: 40px;
}

.priority {
  padding-right: 40px;
}

.taskList {
  margin-top: 50px;
  margin-left: 56px;
  margin-bottom: 10px;
}

.button-high {
  background-color: red;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
.button-med {
  background-color: orange;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}

.button-low {
  background-color: green;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
